[Unit]
Description=EerieVerse Node.js App
After=network.target

[Service]
ExecStart=/usr/bin/node {{ app_dir }}/server/index.js
Restart=always
User={{ app_user }}
Environment=NODE_ENV={{ NODE_ENV | default('production') }}
EnvironmentFile={{ app_dir }}/server/.env
WorkingDirectory={{ app_dir }}/server



[Install]
WantedBy=multi-user.target
